@keyframes moveInL {
  0% { transform: translate(-90%, 0); }
  100% { transform: translate( 0%, 0); }
}

@keyframes fadeinSnackbar {
  from {margin-bottom: -40px; opacity: 0;}
  to {margin-bottom: 20px; opacity: 1;}
}

@keyframes fadeoutSnackbar {
  from {margin-bottom: 20px; opacity: 1;}
  to {margin-bottom: -40px; opacity: 0;}
}

@keyframes fadeInModal {
  0% {opacity: 0}
  100% {opacity: 1}
}


@keyframes moveInR {
  0% { transform: translate(90%, 0); }
  100% { transform: translate( 0%, 0); }
}

@keyframes show_more {
  0% { height: 300px }
  100% { height: 600px }
}

@keyframes show_less {
  0% { height: 600px }
  100% { height: 300px }
}

@keyframes modalEnter {
  0% { transform: translate(0, 100%);
  opacity: 0 }
  100% { 
    transform: translate( 0%, 0%); 
    display: block;
    opacity: 1;
  }
}

@keyframes modalExit {
  0% {
     transform: translate(0, 0%);
     opacity: 1;
  }
  100% { 
    transform: translate( 0%, 100%);
    display: none;
    opacity: 0;
  }
}


.one{
  padding-top: 100px;
  background-color: #a6a6a6;
  min-height: 92vh
}


.one_nav{
  background-color: #a6a6a6;
  min-height: 92vh
}

.formDivLogin{
  height: 300px;
}

.loginSubButtons{
  text-align: center;
  color: #a6a6a6;
  margin-top: 3px; 
  padding: 0px;
  background-color: white;
  border: none;
}

.loginSubButtons:hover{
  text-align: center;
  color: #00b8e6;
  background-color: white;  
  margin-top: 3px; 
  padding: 0px;
  border: none;  
}

.alert_style {
  display: block;
  animation: fadeinSnackbar 0.5s, fadeoutSnackbar 0.5s 2.5s;
  background-color: #00b8e6;
  color: white;  
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;       
}

.alert_style_small{
  display: block;
  animation: fadeinSnackbar 0.5s, fadeoutSnackbar 0.5s 2.5s;
  width: 50%;
  color: white;
  background-color: #00b8e6;
  margin: 0 auto;
  margin-bottom: 20px;
}

.alert_hide {
  display: none;
}

.dashboard_nav_button_logout{
  color: #fff;
  border: none;
  font-size: 14pt;
  background-color: #00B8E6;
  border: 1px solid white;
  float: right;
  border-radius: 8px;    
}

.dashboard_nav_button_logout:hover{
  color: rgba(242, 242, 242, 0.93);
  border: none;
  font-size: 14pt;
  background-color: rgba(0, 184, 230, 0.8);
  border: 1px solid white;
  border-radius: 8px;  
  float: right;  
}

.search_add_button{
  color: #fff;
  border: none;
  font-size: 14pt;
  background-color: #00B8E6;
  border: 1px solid white;
  border-radius: 8px;   
  margin-top: 5px;  
}

.search_add_button:hover{
  color: rgba(242, 242, 242, 0.93);
  border: none;
  font-size: 14pt;
  background-color: rgba(0, 184, 230, 0.8);
  border: 1px solid white;
  border-radius: 8px;  
  margin-top: 5px;
}

