@keyframes moveInL {
  0% { transform: translate(-90%, 0); }
  100% { transform: translate( 0%, 0); }
}

@keyframes fadeinSnackbar {
  from {margin-bottom: -40px; opacity: 0;}
  to {margin-bottom: 20px; opacity: 1;}
}

@keyframes fadeoutSnackbar {
  from {margin-bottom: 20px; opacity: 1;}
  to {margin-bottom: -40px; opacity: 0;}
}


@keyframes moveInR {
  0% { transform: translate(90%, 0); }
  100% { transform: translate( 0%, 0); }
}