@keyframes moveInL {
  0% { transform: translate(-90%, 0); }
  100% { transform: translate( 0%, 0); }
}

@keyframes fadeinSnackbar {
  from {margin-bottom: -40px; opacity: 0;}
  to {margin-bottom: 20px; opacity: 1;}
}

@keyframes fadeoutSnackbar {
  from {margin-bottom: 20px; opacity: 1;}
  to {margin-bottom: -40px; opacity: 0;}
}

@keyframes navToReadFromLibrary {
  from {background-color:#3882b7} 
  to {background-color: #929547}
}

@keyframes navToReadFromUnread {
  from {background-color:#a33934} 
  to {background-color: #929547}
}

@keyframes navToUnreadFromLibrary {
  from {background-color:#3882b7} 
  to {background-color: #a33934}
}

@keyframes navToUnreadFromRead {
  from {background-color:#929547} 
  to {background-color: #a33934}
}

@keyframes navToLibraryFromRead {
  from {background-color:#929547} 
  to {background-color: #3882b7}
}

@keyframes navToLibraryFromUnread{
  from {background-color:#a33934} 
  to {background-color: #3882b7}
}

@keyframes slideOptionDown {
  from {height: 0px; opacity: 0;}
  to {height: 60px;opacity: 1;}
}

@keyframes slideOptionUp {
  from {height: 60px; opacity: 1;}
  to {height: 0px; opacity: 0;}
}

@keyframes fadeInModal {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes fadeOutModal {
  0% {opacity: 1}
  100% {opacity: 0}
}

@keyframes fadeInComicButtons{
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes fadeOutComicButtons{
  0% {opacity: 1}
  100% {opacity: 0}
}

@keyframes fadeInComics{
  0% {opacity: 0}
  100% {opacity: .5}
}

@keyframes fadeOutComics{
  0% {opacity: .5}
  100% {opacity: 0}
}


@keyframes moveInR {
  0% { transform: translate(90%, 0); }
  100% { transform: translate( 0%, 0); }
}

@keyframes show_more {
  0% { height: 300px }
  100% { height: 600px }
}

@keyframes show_less {
  0% { height: 600px }
  100% { height: 300px }
}

@keyframes modalEnter {
  0% { transform: translate(0, 100%);
  opacity: 0 }
  100% { 
    transform: translate( 0%, 0%); 
    display: block;
    opacity: 1;
  }
}

@keyframes modalExit {
  0% {
     transform: translate(0, 0%);
     opacity: 1;
  }
  100% { 
    transform: translate( 0%, -100%);
    opacity: 0;
  }
}

@keyframes navToReadFromLibraryBody {
  from {background-color:rgba(56, 130, 183, .2)} 
  to {background-color: rgba(146, 149, 71, .2)}
}

@keyframes navToReadFromUnreadBody {
  from {background-color:rgba(163, 57, 52, .2)} 
  to {background-color: rgba(146, 149, 71, .2)}
}

@keyframes navToUnreadFromLibraryBody {
  from {background-color:rgba(56, 130, 183, .2)} 
  to {background-color: rgba(163, 57, 52, .2)}
}

@keyframes navToUnreadFromReadBody {
  from {background-color:rgba(146, 149, 71, .2)} 
  to {background-color: rgba(163, 57, 52, .2)}
}

@keyframes navToLibraryFromReadBody {
  from {background-color:rgba(146, 149, 71, .2)} 
  to {background-color: rgba(56, 130, 183, .2)}
}

@keyframes navToLibraryFromUnreadBody {
  from {background-color:rgba(163, 57, 52, .2)} 
  to {background-color: rgba(56, 130, 183, .2)}
}


.one{
  padding-top: 100px;
  background-color: #a6a6a6;
  min-height: 92vh
}

.formDivLogin{
  height: 300px;
}

.loginSubButtons{
  text-align: center;
  color: #a6a6a6;
  margin-top: 3px; 
  padding: 0px;
  background-color: white;
  border: none;
}

.loginSubButtons:hover{
  text-align: center;
  color: #00b8e6;
  background-color: white;  
  margin-top: 3px; 
  padding: 0px;
  border: none;  
}

.alert_style {
  display: block;
  animation: fadeinSnackbar 0.5s, fadeoutSnackbar 0.5s 2.5s;
  background-color: #00b8e6;
  color: white;  
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;       
}

.alert_style_small{
  display: block;
  animation: fadeinSnackbar 0.5s, fadeoutSnackbar 0.5s 2.5s;
  width: 50%;
  color: white;
  background-color: #00b8e6;
  margin: 0 auto;
  margin-bottom: 20px;
}

.alert_hide {
  display: none;
}

.dashboard_nav_button_logout{
  color: #fff;
  border: none;
  font-size: 14pt;
  background-color: #00B8E6;
  border: 1px solid white;
  float: right;
  border-radius: 8px;    
}

.dashboard_nav_button_logout:hover{
  color: rgba(242, 242, 242, 0.93);
  border: none;
  font-size: 14pt;
  background-color: rgba(0, 184, 230, 0.8);
  border: 1px solid white;
  border-radius: 8px;  
  float: right;  
}

.search_add_button{
  color: #fff;
  border: none;
  font-size: 14pt;
  background-color: #00B8E6;
  border: 1px solid white;
  border-radius: 8px;   
  margin-top: 5px;  
}

.search_add_button:hover{
  color: rgba(242, 242, 242, 0.93);
  border: none;
  font-size: 14pt;
  background-color: rgba(0, 184, 230, 0.8);
  border: 1px solid white;
  border-radius: 8px;  
  margin-top: 5px;
}

.comic_container {
  position: relative;
  width: 100%;
}

.comic_middle {
  transition: 1s ease;
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  background: linear-gradient(#ff6666, #00b8e6); ;
  height: 300px;
  opacity: 0;
}

.comic_middle:hover{
  opacity: .5;
  background-color: rgba(255, 102, 102);
}

.unread_nav_unclicked{
  color: #a8a8a8;
  background-color: #7e2b26;
  border-top : 1px solid white;
  border-bottom : 1px solid white;
  border-right: 1px solid white;
  width: 33.3%;
  float: left;
}

.unread_nav_unclicked:hover{
  color: white;
  background-color: #a33934;
  border-top : 1px solid white;
  border-bottom : 1px solid white;
  border-right: 1px solid white;
  width: 33.3%;
  float: left;
}
.unread_nav_clicked{
  color: white;
  background-color: #a33934;
  border-top : 1px solid white;
  border-bottom : 1px solid white;
  border-right: 1px solid white;
  width: 33.3%;
  float: left;
}

.read_nav_unclicked{
  color: #a8a8a8;
  background-color: #405027;
  border-top : 1px solid white;
  border-bottom : 1px solid white;
  border-right: 1px solid white;
  width: 33.3%;
  float: left;
}

.read_nav_unclicked:hover{
  color: white;
  background-color: #929547;
  border-top : 1px solid white;
  border-bottom : 1px solid white;
  border-right: 1px solid white;
  width: 33.3%;
  float: left;
}

.read_nav_clicked{
  color: white;
  background-color: #929547;
  border-top : 1px solid white;
  border-bottom : 1px solid white;
  border-right: 1px solid white;
  width: 33.3%;
  float: left;
}

.library_nav_unclicked{
  color: #a8a8a8;
  background-color: #356995;
  border-top : 1px solid white;
  border-bottom : 1px solid white;
  border-right: 1px solid white;
  width: 33.3%;
  float: left;
}

.library_nav_unclicked:hover{
  color: white;
  background-color: #3882b7;
  border-top : 1px solid white;
  border-bottom : 1px solid white;
  border-right: 1px solid white;
  width: 33.3%;
  float: left;
}

.library_nav_clicked{
  color: white;
  background-color: #3882b7;
  border-top : 1px solid white;
  border-bottom : 1px solid white;
  border-right: 1px solid white;
  width: 33.3%;
  float: left;
}

